
<div class="pub">
  <div class="pub_ref">
    Ray, S., Kim, S.S., and Morris, J.G. “The Central Role of Engagement in
    Online Communities,”
    <span class="journal">Information Systems Research</span>.
  </div>
  <div class="pub_url"><a href="http://pubsonline.informs.org/doi/abs/10.1287/isre.2014.0525">forthcoming</a></div>
</div>

<!-- IJIM paper 2014 (CLOUD-TOE) -->
{% scholar_pub 6WjiSOwAAAAJ:2osOgNQ5qMEC %}

<!-- I&M paper 2013 (LOYHAB) -->
{% scholar_pub 6WjiSOwAAAAJ:d1gkVwhDpl0C %}

<!-- ISR paper 2012 (ePSC) -->
{% scholar_pub 6WjiSOwAAAAJ:9yKSN-GCB0IC %}

<!-- DS paper 2011 (SEC) -->
{% scholar_pub 6WjiSOwAAAAJ:u5HHmVD_uO8C %}

<br><br>
