
<div class="pub">
  <div class="pub_ref">
    Ray, S., Kim, S.S., and Morris, J.G. 2015. “The Central Role of Engagement in
    Online Communities,”
    <span class="journal">Information Systems Research</span>.
  </div>
  <div class="pub_url">forthcoming</div>
</div>

<div class="pub">
  <div class="pub_ref">
    Hsu, P., and Ray, S. 2014. "Examining Cloud Adoption Inention, Pricing
    Mechanism, and Deployment Model,"
    <span class="journal">International Journal of Information Management</span>.
  </div>
  <div class="pub_url">forthcoming</div>
</div>

<!-- I&M paper 2013 (LOYHAB) -->
{% scholar_pub 6WjiSOwAAAAJ:d1gkVwhDpl0C %}

<!-- ISR paper 2012 (ePSC) -->
{% scholar_pub 6WjiSOwAAAAJ:9yKSN-GCB0IC %}

<!-- DS paper 2011 (SEC) -->
{% scholar_pub 6WjiSOwAAAAJ:u5HHmVD_uO8C %}

<br><br>
